<div class="w-64 bg-gray-800 text-white h-min-screen">
    <div class="p-4 flex gap-4 items-center">
        <img src="#" alt="Profile" class="w-8 h-8 rounded-full">
        <span class="text-white text-gray-700 font-semibold">{{ request.user.username }}</span>
    </div>
    <ul class="space-y-2">
        <li>
            <a href="{% url 'admin-dashboard' %}" class="flex items-center p-4 text-gray-200 hover:bg-gray-700">
                <i class="fas fa-tachometer-alt"></i>
                <span class="ml-4">Dashboard</span>
            </a>
        </li>

        <!-- Module Dropdown -->
        <li>
            <button id="moduleDropdownButton" class="flex items-center p-4 text-gray-200 hover:bg-gray-700 w-full text-left">
                <i class="fas fa-book"></i>
                <span class="ml-4">Katak Travel</span>
                <i class="fas fa-chevron-down ml-auto"></i>
            </button>
            <ul id="moduleDropdown" class="hidden space-y-2 pl-4">
                <li>
                    <a href="{% url 'main_page' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <i class="fas fa-info-circle"></i> <!-- Icon for Intro -->
                        <span class="ml-4">Main</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'main_about' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <i class="fas fa-bullseye"></i> <!-- Icon for Objective -->
                        <span class="ml-4">About</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="#" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <i class="fas fa-eye"></i> Icon for Vision
                        <span class="ml-4">Contact Us</span>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="#" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <i class="fas fa-handshake"></i> 
                        <span class="ml-4">Mission</span>
                    </a>
                </li> -->
            </ul>
        </li>

        
        <!-- Sales Dropdown -->
        <li>
            <button id="salesDropdownButton" class="flex items-center p-4 text-gray-200 hover:bg-gray-700 w-full text-left">
                <i class="fas fa-chart-line"></i>
                <span class="ml-4">Sales</span>
                <i class="fas fa-chevron-down ml-auto"></i>
            </button>
            <ul id="salesDropdown" class="hidden space-y-2 pl-4">
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Sales Report</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- hotel Dropdown -->
        <li>
            <button id="hotelDropdownButton" class="flex items-center p-4 text-gray-200 hover:bg-gray-700 w-full text-left">
                <i class="fas fa-hotel"></i>
                <span class="ml-4">Hotel</span>
                <i class="fas fa-chevron-down ml-auto"></i>
            </button>
            <ul id="hotelDropdown" class="hidden space-y-2 pl-4">
                <li>
                    <a href="{% url 'hotel_list' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Hotel List</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'hotel_type' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4"> Hotel Type</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'hotel_facilities' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4"> Hotel Facilities</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'room_type' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Room Type</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'hotel_room_faci' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Room Facilities</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'room_bed' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Type Bed</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'hotel_view' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">View</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Merchant Dropdown -->
        <li>
            <button id="merchantDropdownButton" class="flex items-center p-4 text-gray-200 hover:bg-gray-700 w-full text-left">
                <i class="fa-solid fa-store"></i>
                <span class="ml-4">Merchant</span>
                <i class="fas fa-chevron-down ml-auto"></i>
            </button>
            <ul id="merchantDropdown" class="hidden space-y-2 pl-4">
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Add Merchant</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Merchant Profile</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- User Dropdown -->
        <li>
            <button id="userDropdownButton" class="flex items-center p-4 text-gray-200 hover:bg-gray-700 w-full text-left">
                <i class="fas fa-users"></i>
                <span class="ml-4">User</span>
                <i class="fas fa-chevron-down ml-auto"></i>
            </button>
            <ul id="userDropdown" class="hidden space-y-2 pl-4">
                <li>
                    <a href="{% url 'user_list' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">User List</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="#" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Profile</span>
                    </a>
                </li> -->
                <li>
                    <a href="{% url 'user_roles' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">User Roles</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user_roles_permission' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Roles & Permission</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'list_roles' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">List Roles</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'list_permission' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">List Permission</span>
                    </a>
                </li>
            </ul>
        </li>

         <!-- Report Dropdown -->
        <li>
            <button id="reportDropdownButton" class="flex items-center p-4 text-gray-200 hover:bg-gray-700 w-full text-left">
                <i class="fas fa-file"></i>
                <span class="ml-4">Report</span>
                <i class="fas fa-chevron-down ml-auto"></i>
            </button>
            <ul id="reportDropdown" class="hidden space-y-2 pl-4">
                <li>
                    <a href="" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Report</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="#" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Profile</span>
                    </a>
                </li> -->
                <li>
                    <a href="" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Type Report</span>
                    </a>
                </li>
            </ul>
        </li>
         <!-- News/REview Dropdown -->
        <li>
            <button id="newsDropdownButton" class="flex items-center p-4 text-gray-200 hover:bg-gray-700 w-full text-left">
                <i class="fas fa-clipboard"></i>
                <span class="ml-4">News</span>
                <i class="fas fa-chevron-down ml-auto"></i>
            </button>
            <ul id="newsDropdown" class="hidden space-y-2 pl-4">
                <li>
                    <a href="{% url 'news' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <i class="fas fa-newspaper"></i> <span class="ml-4">News</span>
                    </a>
                </li>
                <li>
                    <a href="" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <i class="fas fa-star"></i> <span class="ml-4">Category</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <button id="reviewDropdownButton" class="flex items-center p-4 text-gray-200 hover:bg-gray-700 w-full text-left">
                <i class="fas fa-clipboard"></i>
                <span class="ml-4">Review</span>
                <i class="fas fa-chevron-down ml-auto"></i>
            </button>
            <ul id="reviewDropdown" class="hidden space-y-2 pl-4">
                <li>
                    <a href="{% url 'review' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <i class="fas fa-star"></i> <span class="ml-4">Review</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    document.getElementById('moduleDropdownButton').addEventListener('click', function() {
        const dropdown = document.getElementById('moduleDropdown');
        dropdown.classList.toggle('hidden');
    });

    document.getElementById('hotelDropdownButton').addEventListener('click', function() {
        const dropdown = document.getElementById('hotelDropdown');
        dropdown.classList.toggle('hidden');
    });

    document.getElementById('salesDropdownButton').addEventListener('click', function() {
        const dropdown = document.getElementById('salesDropdown');
        dropdown.classList.toggle('hidden');
    });

    document.getElementById('merchantDropdownButton').addEventListener('click', function() {
        const dropdown = document.getElementById('merchantDropdown');
        dropdown.classList.toggle('hidden');
    });

    document.getElementById('userDropdownButton').addEventListener('click', function() {
        const dropdown = document.getElementById('userDropdown');
        dropdown.classList.toggle('hidden');
    });

    document.getElementById('reportDropdownButton').addEventListener('click', function() {
        const dropdown = document.getElementById('reportDropdown');
        dropdown.classList.toggle('hidden');
    });
    document.getElementById('newsDropdownButton').addEventListener('click', function() {
        const dropdown = document.getElementById('newsDropdown');
        dropdown.classList.toggle('hidden');
    });
    document.getElementById('reviewDropdownButton').addEventListener('click', function() {
        const dropdown = document.getElementById('reviewDropdown');
        dropdown.classList.toggle('hidden');
    });
</script>