<div class="w-64 bg-gray-800 text-white h-min-screen">
    <div class="p-4 flex gap-4 items-center">
        <img src="#" alt="Profile" class="w-8 h-8 rounded-full">
        <span class="text-white text-gray-700 font-semibold">{{ request.user.username }}</span>
    </div>
   
    <ul class="space-y-2">
        <li>
            <a href="{% url 'hms-dashboard' %}" class="flex items-center p-4 text-gray-200 hover:bg-gray-700">
                <i class="fas fa-tachometer-alt"></i>
                <span class="ml-4">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center p-4 text-gray-200 hover:bg-gray-700">
                <i class="fas fa-chart-line"></i>
                <span class="ml-4">Sales</span>
            </a>
        </li>
         <!-- hotel Dropdown -->
         <li>
            <button id="hotelDropdownButton" class="flex items-center p-4 text-gray-200 hover:bg-gray-700 w-full text-left">
                <i class="fas fa-hotel"></i>
                <span class="ml-4">Hotel</span>
                <i class="fas fa-chevron-down ml-auto"></i>
            </button>
            <ul id="hotelDropdown" class="hidden space-y-2 pl-4">
                <li>
                    <a href="{% url 'hms-list' %}" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Hotel</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Room</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-200 hover:bg-gray-700">
                        <span class="ml-4">Equipments</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="flex items-center p-4 text-gray-200 hover:bg-gray-700">
                <i class="fas fa-users"></i>
                <span class="ml-4">Guest</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center p-4 text-gray-200 hover:bg-gray-700">
                <i class="fa-solid fa-money-bill"></i>
                <span class="ml-4">Price</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center p-4 text-gray-200 hover:bg-gray-700">
                <i class="fas fa-chart-line"></i>
                <span class="ml-4">House Keeping</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center p-4 text-gray-200 hover:bg-gray-700">
                <i class="fas fa-chart-line"></i>
                <span class="ml-4">Front Office</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center p-4 text-gray-200 hover:bg-gray-700">
                <i class="fas fa-cogs"></i>
                <span class="ml-4">Settting</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center p-4 text-gray-200 hover:bg-gray-700">
                <i class="fas fa-key"></i>
                <span class="ml-4">Security</span>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center p-4 text-gray-200 hover:bg-gray-700">
                <i class="fa fa-info-circle"></i>
                <span class="ml-4">Help</span>
            </a>
        </li>
    </ul>
</div>

<script>
    document.getElementById('hotelDropdownButton').addEventListener('click', function() {
        const dropdown = document.getElementById('hotelDropdown');
        dropdown.classList.toggle('hidden');
    });
    </script>