{% load static %}
<footer class="bg-gray-800 text-white p-5 mt-auto">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-10 text-center md:text-left md:10px lg:px-20">
        <!-- Logo -->
   
            <div class="flex flex-col items-center justify-center">
            <img src="{% static 'images/KATAK_3.png' %}" alt="Company Logo" class="h-30 w-20 mb-2">
            <!-- <h1 class="text-xl">Payment Method</h1> -->

        </div>



        <!-- About Us -->
        <div class="flex flex-col items-center md:items-start">
            <h2 class="text-base font-semibold   mb-2">About Us</h2>
            <ul>
                <li><a href="{% url 'about_us' %}" class=" text-base mb-3  hover:underline">About Katak Travel </a></li>
                <li><a href="#" class="text-base mb-3 hover:underline">News </a></li>
                <li><a href="#" class="text-base mb-3 hover:underline">Review </a></li>
                <!-- <li><a href="#" class="text-base mb-3 hover:underline">Terms & Conditions </a></li>
                <li><a href="#" class="text-base mb-3 hover:underline">Privacy and Cookies</a></li> -->
                <!-- <li><a href="#" class="text-base mb-3 hover:underline">About JOM TRAVEL Group</a></li> -->
            
             </ul>
        </div>

        <!-- Other Services -->
        <!-- <div class="flex flex-col items-center md:items-start">
            <h2 class="text-lg font-semibold mb-2">Other Services</h2>
            <ul>
                <li><a href="#" class=" text-base mb-3  hover:underline">JOM TRAVEL Rewards </a></li>
                <li><a href="#" class="text-base mb-3 hover:underline">List Your Property </a></li>
                <li><a href="#" class="text-base mb-3 hover:underline">Become a Supplier </a></li>
                <li><a href="#" class="text-base mb-3 hover:underline">Investor Relations</a></li>
                <li><a href="#" class="text-base mb-3 hover:underline">Security</a></li>
            
             </ul>
        </div> -->

        <!-- Contact Us -->
        <div class="flex flex-col items-center md:items-start">
            <h2 class="text-lg font-semibold mb-2">Contact Us</h2>
            <!-- <ul>
                <li><a href="#" class=" text-base mb-3  hover:underline">Customer Support </a></li>
                <li><a href="#" class="text-base mb-3 hover:underline">Services Guarantee </a></li>
                <li><a href="#" class="text-base mb-3 hover:underline">More Services Info</a></li>
             
            
             </ul> -->
        
            <!-- Social Media Icons -->
            <div class="mt-4 flex space-x-4">
                 <!-- Facebook -->
                <a href="https://www.facebook.com/share/1AKSDVhwo6/" target="_blank" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>

                <!-- Instagram -->
                <a href="https://instagram.com" target="_blank" class="text-pink-500 hover:text-pink-700">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>

                <!-- TikTok -->
                <a href="https://www.tiktok.com/@kataktravel?_t=ZS-8wJKsBKbujA&_r=1" target="_blank" class="text-black hover:text-gray-800">
                    <i class="fab fa-tiktok fa-2x"></i>
                </a>
            </div>
        </div>
        
    </div>

    

    <!-- Bottom Row: Company Details -->
     
    <div class="mt-8 text-center ">
        <!-- <p>JOM TRAVEL No. 81 & 83. Persiaran Bunga Raya, Langkawi Mall, Phase II, Kuah, 07000 Langkawi, Kedah</p> -->
        <p>Copyright &copy; Katak Travel Sdn. Bhd. @ Since 2023 . All Right Reserved </p>
    </div>
</footer>