{% load static tailwind_tags %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KATAK TRAVEL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body class="custom-bg p-8 flex items-center justify-center">
    <!-- Medium-Sized Container -->
    <div class="container max-w-md mx-auto bg-white justify-center p-4 rounded-lg shadow-lg">
        <div class="flex items-center justify-center mb-4 space-x-4">
            <!-- Company Logo -->
            <img src="{% static 'images/KATAK_2.jpg' %}" alt="Company Logo" class="h-13 w-16">
        </div>
        <div class="flex items-center justify-center mb-6 space-x-4">
            <!-- Heading -->
            <h1 class="text-3xl font-semibold text-gray-800">Logged Out </h1>
        </div>

        <div class="flex items-center justify-center mb-6 space-x-4">
           
            <h1 class="text-xl font-semibold text-gray-800">Thank you for using KATAK TRAVEL </h1>
        </div>
        <div class="flex justify-center">
            <a href="{% url 'login' %}" class=" flex justify-center w-full text-white py-2 px-4 rounded font-semibold" style="background-color: #72c1fa;">Log in</a>
        </div>

        <div class="flex items-center justify-center mb-6 space-x-4">
            <h1 class="text-xl font-semibold text-gray-800">See you later </h1>
        </div>
        
        <a href="{% url 'home' %}" 
        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-700 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
         Main Page
        </a>
    </div>
</body>

</html>
{% endblock %}
