{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'src/styles.css' %}">
<html>
    {% include 'base_kt/admin_header.html' %}
    <body>
        <div class="flex h-min-screen">
            <!-- Main Content -->
            <div class="p-4 bg-gray-100 w-full">
                <div class="rounded-md space-y-2">
                    <div class="bg-white p-6 rounded-lg shadow-lg w-full">
                        <h2 class="text-2xl font-bold mb-4">Details Product and Price</h2>
                      
                        <form href="{% url 'products_details' product.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Merchant Details -->
                           
                            <div class="grid grid-cols-1 gap-4 mb-4">
                                <h3 class="text-xl font-bold mb-4">Product Details</h3>
                        
                                <!-- Product Details Form -->
                                <div id="product-details-section">
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 product-entry">
                                        <div class="md:col-span-1">
                                            <label for="product_name" class="block text-gray-700 font-semibold">Product Name:</label>
                                            <input type="text" id="product_name" name="product_name"
                                                   value="{{ product.product_name }}"
                                                   class="mt-1 p-2 border border-gray-300 rounded w-ful bg-gray-100 w-full" disabled/>

                                            

                                            <label for="product_description" class="block text-gray-700 font-semibold mt-4">Description:</label>
                                            <textarea id="product_description" name="product_description"
                                                      class="mt-1 p-2 border border-gray-300 rounded w-full bg-gray-100" rows="3"  disabled>{{ product.product_description }}</textarea>
                                        
                                        </div>
                            
                                       
                                            
                                   
                                        
                                        {% if product.product_image %}
                                            <div class="mt-4">
                                                <!-- <label class="block text-gray-700 font-semibold">Current Image:</label> -->
                                                <!-- <p class="text-gray-600 mt-2">{{ product.product_image.name }}</p> -->
                                                <div id="preview-container-1" class="bg-gray-100 border rounded p-2 h-80">
                                                    <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" 
                                                    class="w-full h-full object-scale-down ">
                                                </div>
                                                
                                                
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                     

                                <h3 class="text-xl font-bold mb-4">Add Price</h3>
                                
                                
                                <!-- Adult Section -->
                                <p class="font-semibold text-md">Adult Price</p>
                                <div class="grid grid-cols-1 md:grid-cols-4 gap-4" id="adult-row">
                                    <div>
                                        <label for="adult_selling_price" class="block text-gray-700 font-semibold">Selling Price</label>
                                        <input type="number" id="adult_selling_price" name="adult_selling_price" class="mt-1 p-2 border border-gray-500 rounded w-full selling-price bg-gray-100" value="{{ adult_selling_price }}" oninput="calculateCommissionAndTotal()" disabled/>
                                    </div>
                                    <div>
                                        <label for="adult_agent_price" class="block text-gray-700 font-semibold">Agent Price</label>
                                        <input type="number" id="adult_agent_price" name="adult_agent_price" class="mt-1 p-2 border border-gray-500 rounded w-full agent-price bg-gray-100" value="{{ adult_agent_price }}" oninput="calculateCommissionAndTotal()" disabled/>
                                    </div>
                                    <div>
                                        <label for="adult_commission_price" class="block text-gray-700 font-semibold">Profit Amount</label>
                                        <div class="flex space-x-2">
                                            <input type="number" id="adult_commission_price" name="adult_commission_price" value="{{ adult_commission_price }}" class="mt-1 p-2 border border-gray-500 rounded w-full bg-gray-100 commission-price " readonly />
                                            <input type="text" id="adult_commission_percent" name="adult_commission_percent" value="{{ adult_commission_percent }}%" class="mt-1 p-2 border border-gray-500 rounded w-full bg-gray-100 commission-percent" readonly />
                                        </div>
                                    </div>
                                    <div>
                                        <label for="adult_number" class="block text-gray-700 font-semibold">Number of Adults</label>
                                        <input type="number" id="adult_number" name="adult_number" class="mt-1 p-2 border border-gray-500 rounded w-full bg-gray-100" value="{{ adult_number }}" oninput="calculateCommissionAndTotal()" disabled/>
                                        <p class="text-xs text-gray-600">Total of adults</p>
                                    </div>
                                </div>

                                <!-- Children Section -->
                                <p class="font-semibold text-md">Children Price</p>
                                <div class="grid grid-cols-1 md:grid-cols-4 gap-4" id="children-row">
                                    <div>
                                        <label for="children_selling_price" class="block text-gray-700 font-semibold">Selling Price</label>
                                        <input type="number" id="children_selling_price" name="children_selling_price" class="mt-1 p-2 border border-gray-500 rounded w-full selling-price bg-gray-100" value="{{ children_selling_price }}" oninput="calculateCommissionAndTotal()" disabled/>
                                    </div>
                                    <div>
                                        <label for="children_agent_price" class="block text-gray-700 font-semibold">Agent Price</label>
                                        <input type="number" id="children_agent_price" name="children_agent_price" class="mt-1 p-2 border border-gray-500 rounded w-full agent-price bg-gray-100" value="{{ children_agent_price }}" oninput="calculateCommissionAndTotal()" disabled/>
                                    </div>
                                    <div>
                                        <label for="children_commission_price" class="block text-gray-700 font-semibold">Profit Amount</label>
                                        <div class="flex space-x-2">
                                            <input type="number" id="children_commission_price" name="children_commission_price"  value="{{ children_commission_price }}" class="mt-1 p-2 border border-gray-500 rounded w-full bg-gray-100 commission-price" readonly />
                                            <input type="text" id="children_commission_percent" name="children_commission_percent" value="{{ children_commission_percent }}%" class="mt-1 p-2 border border-gray-500 rounded w-full bg-gray-100 commission-percent" readonly />
                                        </div>
                                    </div>
                                    <div>
                                        <label for="children_number" class="block text-gray-700 font-semibold">Number of Children</label>
                                        <input type="number" id="children_number" name="children_number" class="mt-1 p-2 border border-gray-500 rounded w-full bg-gray-100" value="{{ children_number }}" oninput="calculateCommissionAndTotal()" disabled/>
                                        <p class="text-xs text-gray-600">Total of children</p>
                                    </div>
                                </div>

                                <!-- Summary Section -->
                                <h3 class="text-xl font-bold mt-2">Summary</h3>
                                <table class="table-auto w-full">
                                    <thead>
                                        <tr class="bg-green-500">
                                            <th class="px-4 py-2 border text-white w-64">Description</th>
                                            <th class="px-4 py-2 border text-white w-64">Price Per Person</th>
                                            <th class="px-4 py-2 border text-white w-48">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="px-4 py-2 border text-white bg-yellow-500 font-semibold">Adult Price</td>
                                            <td class="px-4 py-2 border" id="adult-price-per-person">{{ adult_selling_price }}</td>
                                            <td class="px-4 py-2 border" id="adult-total-price">{{ total_adult_price }}</td>
                                        </tr>
                                        <tr>
                                            <td class="px-4 py-2 border text-white bg-purple-500 font-semibold">Children Price</td>
                                            <td class="px-4 py-2 border" id="children-price-per-person">{{ children_selling_price }}</td>
                                            <td class="px-4 py-2 border" id="children-total-price">{{ total_children_price }}</td>
                                        </tr>
                                        <tr>
                                            <td class="px-4 py-2 border font-bold bg-sky-500 text-white">Grand Total</td>
                                            <td class="px-4 py-2 border" id="grand-total-price" colspan="2">{{ grand_total_price }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        
                         <!-- Actions -->
                        <div class="flex justify-between space-x-2 mt-4">
                            <button type="button" class="bg-red-700 text-white px-4 py-2 rounded flex items-center space-x-2">
                                <a href="{% url 'pack_form' merchant_id=product.package_merchant.id %}" class="flex items-center space-x-2 font-semibold">
                                    <i class="fas fa-times"></i>
                                    <span>Cancel</span>
                                </a>
                            </button>
                            <button type="button" class="bg-blue-700 text-white px-4 py-2 rounded flex items-center space-x-2 font-semibold">
                                <a href="{% url 'add_price' product.id %}" class="flex items-center space-x-2 font-semibold">
                                    <i class="fas fa-pen mr-2"></i>
                                    <span>Edit</span>
                                </a>
                            </button>
                        </div>
                        <!-- <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded">Save</button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


{% endblock %}