{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'src/styles.css' %}">
<html>
    
     <!-- Include the header -->
     {% include 'base_kt/admin_header.html' %}

     <body>
        <div class="flex">
           
            {% include 'base_kt/admin_sidebar.html' %}
            <div class="flex-grow p-4 bg-gray-100 min-h-screen">

                <!-- First Row (Metrics in One Row) -->
                <div class="rounded-md">
                
                    <!-- Third Row (Below Second Row) -->
                    <div class="grid grid-cols-1 gap-4 mt-2">
                
                        <!-- Second Column, Second Row: Another Sales Breakdown -->
                        <div class="bg-white shadow-md p-6 rounded-md">
                            <h2 class="text-2xl font-bold mb-4">Katak Travel</h2>
                            <table class="min-w-full table-auto">
                                <thead>
                                    <tr>
                                        <th class="px-4 py-2 text-left text-gray-600 font-semibold" style="width: 5%;">No</th>
                                        <th class="px-4 py-2 text-left text-gray-600 font-semibold" style="width: 85%;">Introduction</th>
                                        <th class="px-4 py-2 text-left text-gray-600 font-semibold" style="width: 15%;">Page</th>
                                        <th class="px-4 py-2 text-left text-gray-600 font-semibold" style="width: 15%;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for page in main_pages %}
                                    <tr>
                                        <td class="px-4 py-2 text-gray-700 text-justify" style="width: 5%;">{{ forloop.counter }}</td>
                                        <td class="px-4 py-2 text-gray-700 text-justify" style="width: 85%;">{{ page.intro }}</td>
                                        <td class="px-4 py-2 text-gray-700" style="width: 15%;">{{ page.page }}</td>
                                        <td class="px-4 py-2 text-center" style="width: 15%;">
                                            <a href="{% url 'main_edit' page.id %}" 
                                               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md flex items-center space-x-2">
                                                <i class="fas fa-edit"></i>
                                                <span>Edit</span>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Second Column, Second Row: Another Sales Breakdown -->
                        <div class="bg-white shadow-md p-6 rounded-md">
                            <h2 class="text-2xl font-bold mb-4">Choice about Katak Travel</h2>
                            <table class="min-w-full table-auto">
                                <thead>
                                    <tr>
                                        <th class="px-4 py-2 text-left text-gray-600 font-semibold" style="width: 5%;">No</th>
                                        <th class="px-4 py-2 text-left text-gray-600 font-semibold" style="width: 20%;">List Choice</th>
                                        <th class="px-4 py-2 text-left text-gray-600 font-semibold" style="width: 65%;">Details</th>
                                        <th class="px-4 py-2 text-left text-gray-600 font-semibold" style="width: 40%;">Page</th>
                                        <th class="px-4 py-2 text-left text-gray-600 font-semibold" style="width: 20%;">Actions</th>
                                    </tr>
                                    <tbody>
                                        {% for choose in main_choose %}
                                        <tr>
                                            <td class="px-4 py-2 text-gray-700 text-justify" style="width: 5%;">{{ forloop.counter }}</td>
                                            <td class="px-4 py-2 text-gray-700 text-justify" style="width: 20%;">{{ choose.main }}</td>
                                            <td class="px-4 py-2 text-gray-700" style="width: 65%;">{{ choose.description }}</td>
                                            <td class="px-4 py-2 text-gray-700" style="width: 40%;">{{ choose.page }}</td>
                                            <td class="px-4 py-2 text-center" style="width: 20%;">
                                                <a href="{% url 'main_choice' choose.id %}" 
                                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md flex items-center space-x-2">
                                                        <i class="fas fa-edit"></i>
                                                        <span>Edit</span>
                                                    </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </html>
</body>
{% endblock %}