{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'src/styles.css' %}">
<html>
    
     <!-- Include the header -->
     {% include 'base_kt/admin_header.html' %}

     <body>
        <div class="flex">
            <!-- Sidebar -->
            <div class="flex-grow p-4 bg-gray-100 w-full">
                <div class="rounded-md">
                    <div class="col-span-3 w-full bg-white p-4 text-left rounded-md">
                        <a href="{% url 'user_list' %}" class="flex items-center mb-2">
                            <div class="flex items-center bg-red-500 border border-red-600 text-white rounded-lg px-3 py-2 mr-2">
                                <i class="fas fa-arrow-left mr-2"></i>
                                <span class="text-md font-medium">Back</span>
                            </div>
                        </a>

                        <h2 class="text-2xl px-6 font-semibold mb-6 text-gray-800 flex items-center">
                           
                            Public Profile
                        </h2>
    
                        <!-- Profile Picture -->
                        <div class="flex flex-col items-center mb-6">
                            <img class="object-cover w-32 h-32 sm:w-40 sm:h-40 rounded-full border-4 border-indigo-300"
                                 src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGZhY2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                                 alt="Profile picture">
                        </div>
    
                        <!-- Form Section -->
                        <form method="post" id="profile-form" class="p-6 w-full">
                            {% csrf_token %}
                            <div class="grid grid-cols-2 sm:grid-cols-2 gap-6">
                                <!-- First Name -->
                                <div class="col-span-1">
                                    <label for="first_name" class="text-md font-semibold">First Name:</label>
                                    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
    
                                <!-- Last Name -->
                                <div class="col-span-1">
                                    <label for="last_name" class="text-md font-semibold">Last Name:</label>
                                    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
    
                                <!-- Identity Type -->
                                <div class="col-span-1">
                                    <label for="identity_type" class="text-md font-semibold">Identity Type:</label>
                                    <input type="text" id="identity_type" name="identity_type" value="{{ user.profile.identity_type }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
    
                                <!-- Identity Number -->
                                <div class="col-span-1">
                                    <label for="identity_no" class="text-md font-semibold">Identity No:</label>
                                    <input type="text" id="identity_no" name="identity_no" value="{{ user.profile.identity_no }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
    
                                <!-- Email -->
                                <div class="col-span-2">
                                    <label for="email" class="text-md font-semibold">Email:</label>
                                    <input type="email" id="email" name="email" value="{{ user.email }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
    
                                <!-- Gender -->
                                <div class="col-span-1">
                                    <label for="gender" class="text-md font-semibold">Gender:</label>
                                    <input type="text" id="gender" name="gender" value="{{ user.profile.gender }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
    
                                <!-- Phone Number -->
                                <div class="col-span-1">
                                    <label for="phone" class="text-md font-semibold">Phone No.:</label>
                                    <input type="text" id="phone" name="phone" value="{{ user.profile.phone }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
    
                                <!-- Address -->
                                <div class="col-span-2">
                                    <label for="address" class="text-md font-semibold">Address:</label>
                                    <textarea id="address" name="address" rows="3" class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled>{{ user.profile.address }}</textarea>
                                </div>
    
                                <!-- Location Fields -->
                                <div class="col-span-1">
                                    <label for="postcode" class="text-md font-semibold">Postcode:</label>
                                    <input type="text" id="postcode" name="postcode" value="{{ user.profile.postcode }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
                                <div class="col-span-1">
                                    <label for="city" class="text-md font-semibold">City:</label>
                                    <input type="text" id="city" name="city" value="{{ user.profile.city }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
                                <div class="col-span-1">
                                    <label for="state" class="text-md font-semibold">State:</label>
                                    <input type="text" id="state" name="state" value="{{ user.profile.state }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
                                <div class="col-span-1">
                                    <label for="country" class="text-md font-semibold">Country:</label>
                                    <input type="text" id="country" name="country" value="{{ user.profile.country }}"
                                           class="block w-full bg-gray-100 px-3 py-2 border rounded-lg shadow-sm text-gray-900" disabled />
                                </div>
                            </div>
    
                            <!-- Edit Button -->
                            <div class="mt-4 flex justify-end space-x-4">
                                <!-- Edit Button -->
                                <button type="button" id="edit-btn" class="flex items-center bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500 font-semibold">
                                    <i class="fas fa-edit mr-2"></i> <!-- Font Awesome Edit Icon -->
                                    Edit
                                </button>
                                
                                <!-- Cancel Button -->
                                <a href="{% url 'user_list' %}" class="flex items-center bg-red-600 text-white px-4 py-2 rounded hover:bg-red-500 font-semibold">
                                    <i class="fas fa-times mr-2"></i> <!-- Font Awesome Cancel Icon -->
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}
    